model filter=lfs diff=lfs merge=lfs -text
model/Room.dae filter=lfs diff=lfs merge=lfs -text
model/TV filter=lfs diff=lfs merge=lfs -text
model/Other filter=lfs diff=lfs merge=lfs -text
model/Kitchen.zip filter=lfs diff=lfs merge=lfs -text
model/Lamp filter=lfs diff=lfs merge=lfs -text
model/SetFuniture filter=lfs diff=lfs merge=lfs -text
model/StudyTable filter=lfs diff=lfs merge=lfs -text
model/bluejay filter=lfs diff=lfs merge=lfs -text
model/plant filter=lfs diff=lfs merge=lfs -text
model/BrickHouse filter=lfs diff=lfs merge=lfs -text
model/BrickHouse/HouseWithFuniture.dae filter=lfs diff=lfs merge=lfs -text
xcode filter=lfs diff=lfs merge=lfs -text
xcode/hoge filter=lfs diff=lfs merge=lfs -text
xcode/hoge.xcodeproj filter=lfs diff=lfs merge=lfs -text
xcode/hogeTests filter=lfs diff=lfs merge=lfs -text
xcode/hogeUITests filter=lfs diff=lfs merge=lfs -text
model/bed filter=lfs diff=lfs merge=lfs -text
model/Box filter=lfs diff=lfs merge=lfs -text
xcode/hoge/art.scnassets/House.scn filter=lfs diff=lfs merge=lfs -text
xcode/hoge/art.scnassets/Settings.json filter=lfs diff=lfs merge=lfs -text
xcode/hoge/art.scnassets/bed.dae filter=lfs diff=lfs merge=lfs -text
model/Box/BigBox.dae filter=lfs diff=lfs merge=lfs -text
model/Box/ColorBox.dae filter=lfs diff=lfs merge=lfs -text
model/Box/TVstand.dae filter=lfs diff=lfs merge=lfs -text
model/BrickHouse/BrickHouse.dae filter=lfs diff=lfs merge=lfs -text
model/BrickHouse/HouseWithFuniture.dae.zip filter=lfs diff=lfs merge=lfs -text
model/BrickHouse/NothingInsideWallHouse.dae filter=lfs diff=lfs merge=lfs -text
model/BrickHouse/Preset.dae filter=lfs diff=lfs merge=lfs -text
model/bed/0350603.jpg filter=lfs diff=lfs merge=lfs -text
model/bed/0350604.jpg filter=lfs diff=lfs merge=lfs -text
model/bed/bed.dae filter=lfs diff=lfs merge=lfs -text
model/bed/wildtextures-seamless-polka-dot-fabric.jpg filter=lfs diff=lfs merge=lfs -text
